<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="divform">
        <div class="container">
            <form action="" id="loginform">
                <div class="form-group">
                    <label for="login" class="labellogin"><h1>Enter your login:</h1></label>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Login">
                </div>
                <input type="submit" value="Enter">
            </form>
        </div>
    </div>

    <div class="container">
        <div class="">
            <button id="updatelogin" onClick="updateLogin()">Login</button>
            <button id="createroom"  onClick="createroom()">Create Room</button>
        </div>
        <div class="">
            <ul id="message"></ul>
            <div>
                <label for="send">Message</label>
                <input type="text" name="send" id="send">
                <button onClick="message()" type="submit">Send</button>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>