<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    
    <div class="container my-5" id="rooms">
        <div class="onediv">
            <div class="divbtn row">
                <div class="col-md-5">
                    <h2 class="h2liste">Liste of rooms</h2>
                </div>
                <div class="col-md-7 btncreate">
                    <!-- <button id="seecurrentroom" class="btn btn-primary" onClick="seeCurrentRoom()">Update room</button> -->
                    <button id="createroom" class="btn btn-primary" onClick="createroom()">Create Room</button>
                </div>
            </div>
            
            <ul id="listeRoom">

            </ul>
        </div>

    </div>

    <div class="contentmsg">
        <div class="divform">
            <div class="container">
                <form action="" id="loginform">
                    <div class="form-group">
                        <label for="login" class="labellogin"><h1>Enter your login:</h1></label>
                        <input type="text" class="form-control" name="login" id="login" placeholder="Login">
                    </div>
                    <input type="submit" value="Enter">
                </form>
            </div>
        </div>
    
        <div class="container mydiv">
            <!-- <h1 class="areroom"></h1>
            <div class="">
                <button id="updatelogin" onClick="updateLogin()">Login</button>
            </div>
            <div class="">
                <ul id="message"></ul>
                <div class="divsend">
                    <input type="text" name="send" id="send">
                    <button onClick="message()" type="submit" id="btnsend">Send</button>
                </div>
            </div> -->
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>