<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

    <ul id="message"></ul>
    <div>
        <label for="send">Message</label>
        <input type="text" name="send" id="send">
        <button onClick="message()">Send</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let ul = document.getElementById('message');
        let login = prompt('Enter your login.');
        let socket = io('http://localhost:4242');

        if (login == "") {
            login = "anonymous";
        }

        socket.emit('login', login);

        function message() {
            let val = document.getElementById('send').value;
            socket.emit('message', val);
            console.log('message emited');
        }

        socket.on('message', function (data) {
            let li = document.createElement('li');
            li.innerHTML = data;
            ul.appendChild(li);
        });

    </script>
</body>
</html>